@import "variables";

.EmailPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 200px) {
  .inputFields {
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
    input {
      font-size: 20px;
      font-family: $primary-font;
      width: 100%;
      padding: 0px;
      border: none;
      margin-bottom: 20px;
    }

    textarea {
      font-size: 20px;
      width: 100%;
      padding: 0px;
      border: none;
      height: 200px;
    }

    input:focus {
      outline: none;
    }

    textarea:focus {
      outline: none;
    }
  }
}

@media (min-width: 500px) {
  .inputFields {
    width: fit-content;
    input {
      width: 500px;
    }

    textarea {
      width: 500px;
    }
  }
}
