@import "variables";

.EmailPanel {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#submit {
  width: 200px;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 15px;
  border-radius: 50px;
  border: 2px solid;
  border-color: $primary-color;
  color: $primary-color;
  -webkit-text-fill-color: $primary-color;
  -webkit-appearance: none;
}

#submit:hover {
  cursor: pointer;
  filter: brightness(75%);
}

@media (min-width: 200px) {
  .inputFields {
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
    max-width: 500px;
    text-align: center;

    input {
      font-size: 20px;
      font-family: $primary-font;
      width: calc(100% - 20px);
      padding: 5px;
      border: none;
      border-radius: 0;
      margin-bottom: 20px;
      background-color: $secondary-color;
      border-bottom: 1px solid$font-color-3;
      color: $font-color-3;
      -webkit-text-fill-color: $font-color-3;
    }

    input[type="search"] {
      -webkit-appearance: none;
    }

    textarea {
      resize: none;
      font-size: 20px;
      font-family: $primary-font;
      width: calc(100% - 20px);
      padding: 5px;
      border: none;
      border-radius: 0;
      height: 200px;
      margin-bottom: 20px;
      background-color: $secondary-color;
      border-bottom: 1px solid $font-color-3;
      color: $font-color-3;
      -webkit-text-fill-color: $font-color-3;
    }

    input:focus {
      outline: none;
    }

    textarea:focus {
      outline: none;
    }
  }
}
