@import "variables";

.FirstPanel {
  height: 110vh;
  width: 100%;
  position: relative;
  // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none'><polygon points='0,30 20,10 30,30 40,5 50,40 60,10 70,30 90,5 100,30 100,100 0,100' style='fill:#{$primary-color-url}'></polygon></svg>");

  .content {
    // height: calc(100% - 10vh);
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    .leftBox {
      width: 50%;
      padding-top: 300px;
    }

    .rightBox {
      height: 100%;
      width: 50%;
      img {
        height: 100%;
        float: right;
        filter: grayscale(1) drop-shadow(29px -10px 19px rgba(0, 0, 0, 0.5));
      }
    }
  }
}

.bottomV {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none'><polygon points='0,0 50,100 100,0 100,100 0,100' style='fill:#{$secondary-color-url}'></polygon></svg>");
}

.NamePart {
  font-weight: 900;
  margin-top: 10px;
  animation: 0.4s slide-right 1.6s forwards;
  transform: translateX(-300%);
}

.JobPart {
  background-color: $primary-color;
  color: $font-color-2;
  padding: 5px;
  margin-top: 10px;
  border-radius: 4px;
  font-weight: 900;
  display: inline-block;
  animation: 0.4s slide-right 1.8s forwards;
  transform: translateX(-300%);
}

@media (min-width: 320px) {
  .NamePart {
    font-size: 20px;
  }

  .JobPart {
    font-size: 20px;
  }
}

@media (min-width: 375px) {
  .NamePart {
    font-size: 25px;
  }

  .JobPart {
    font-size: 25px;
  }
}

@media (min-width: 400px) {
  .FirstPanel {
    // padding-top: 25vh;
    // height: 50vh;
  }

  .NamePart {
    font-size: 30px;
  }

  .JobPart {
    font-size: 30px;
  }
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}
