@import "variables";

.FourthPanel {
  width: 100%;
  background-color: $primary-color;
  color: $secondary-color;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;

  .stackList {
    img {
      width: 60px;
      margin: 20px;
    }
  }

  .upperV {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none'><polygon points='0,0 100,0 0,100 0,0' style='fill:#{$tertiary-color-url}'></polygon></svg>");
  }

  .bottomV {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0px;
    left: 0;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none'><polygon points='0,0 50,100 100,0 100,100 0,100' style='fill:#{$secondary-color-url}'></polygon></svg>");
  }
}
