@import "variables";

.HelloText {
  position: relative;
  animation-play-state: inherit;

  .tile {
    position: absolute;
    background-color: $secondary-color;
    z-index: -1;
    box-shadow: -15px 17px 80px -5px #000000;
    animation: 0.4s slide-right 0.4s forwards;
    transform: translateX(-300%);
    white-space: nowrap;
    animation-play-state: inherit;
  }

  .text {
    width: 100%;
    height: 100%;
    animation-play-state: inherit;

    svg {
      stroke: $font-color-1;
      stroke-width: 36;
      animation-play-state: inherit;
    }

    g {
      animation-play-state: inherit;
    }

    .path {
      stroke-dashoffset: 0;
      stroke-dasharray: 100%;
      animation: dash linear;
      animation-duration: 3.5s;
      animation-play-state: inherit;
    }

    .path#h1 {
      animation-delay: -2s;
    }

    .path#h2 {
      animation-delay: -1.8s;
    }

    .path#h3 {
      animation-delay: -1.6s;
    }

    .path#e1 {
      animation-delay: -1.6s;
    }

    .path#e2 {
      animation-delay: -1.4s;
    }

    .path#e3 {
      animation-delay: -1.3s;
    }

    .path#e4 {
      animation-delay: -1.2s;
    }

    .path#l11 {
      animation-delay: -1.4s;
    }

    .path#l12 {
      animation-delay: -1.1s;
    }

    .path#l21 {
      animation-delay: -1.3s;
    }

    .path#l22 {
      animation-delay: -1s;
    }

    .path#o {
      animation-delay: -1.6s;
    }
  }
}

@media (min-width: 320px) {
  .HelloText {
    width: 250px;
    .tile {
      height: 60px;
      width: 250px;
      top: 20px;
      left: -30px;
    }
  }
}

@media (min-width: 900px) {
  .HelloText {
    width: 500px;
    .tile {
      width: 500px;
      height: 120px;
      top: 40px;
      left: -50px;
    }
  }
}

@keyframes dash {
  0%,
  75% {
    stroke-dashoffset: 100%;
  }
  to {
    stroke-dashoffset: 0;
  }
}
