@import "variables";

.NavBar {
  background-color: $primary-color;
  color: $font-color-2;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  animation: 0.2s slide-left 0s forwards;
  transform: translateX(300%);
  position: fixed;
  z-index: 9999;
}

.LeftSide {
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
}

.RightSide {
  width: 10%;
}

.CloseButton {
  float: right;
}

.CloseButton:hover {
  cursor: pointer;
}

@media (min-width: 320px) {
  .NavBar {
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    top: 0;
  }

  .LeftSide {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
  }

  .NavOption {
    padding-top: 40px;
  }
}

@media (min-width: 900px) {
  .NavBar {
    padding: 10px;
    height: auto;
    border-radius: 0 0 0 100px;
    width: calc(100% - 20px);
    top: 0;
    right: 0;
  }

  .NavBar:hover {
    background-color: $secondary-color;
  }

  .LeftSide {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .NavOption {
    padding-top: 0px;
  }
}

@keyframes slide-left {
  to {
    transform: translateX(0);
  }
}
