@import "variables";

.NavButton {
  color: $font-color-2;
  font-size: 30px;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
}

.NavButton:hover {
  cursor: pointer;
  background-color: $secondary-color;
}
