@import "variables";

.NavBar {
  background-color: $secondary-color;
  color: $primary-color;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  animation: 0.2s slide-left 0s forwards;
  transform: translateY(-100%);
  position: fixed;
  z-index: 9999;
}

.LeftSide {
  display: flex;
  flex-wrap: nowrap;
}

.RightSide {
  .CloseButton:hover {
    cursor: pointer;
    filter: brightness(75%);
  }
}

@media (min-width: 320px) {
  .NavBar {
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    top: 0;
  }

  .LeftSide {
    width: 90%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
  }

  .RightSide {
    width: 10%;

    .CloseButton:hover {
      cursor: pointer;
    }
  }

  .NavOption {
    padding-top: 40px;
  }
}

@media (min-width: 900px) {
  .NavBar {
    padding: 10px;
    height: auto;
    width: 100%;
    top: 0;
    right: 0;
    filter: drop-shadow(0px 10px 20px $secondary-color);
  }

  .NavBar:hover {
    background-color: $secondary-color;
  }

  .LeftSide {
    width: 95%;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0;
  }

  .RightSide {
    width: 5%;
    position: relative;

    .CloseButton {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);
    }
  }

  .NavOption {
    width: 140px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid;
    border-color: $primary-color;
    color: $primary-color;
  }

  .NavOption:hover {
    cursor: pointer;
    filter: brightness(75%);
  }
}

@keyframes slide-left {
  to {
    transform: translateY(0);
  }
}
