@import "variables";

.ProjectPanel {
  width: $project-panel-width * 1px;
  height: $project-panel-width * $project-panel-ratio * 1px;
  background-position-x: center;
  background-size: cover;
  margin: 20px;
  overflow: hidden;
}

.coverPanel {
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  background: $primary-color;
  color: $font-color-1;
  top: 100%;
  padding: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  position: relative;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.ProjectPanel:hover > .coverPanel {
  top: 0;
}

.header {
  height: 50%;
}

.title {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 20px;
}

.buttons {
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-size: 100px;
}

@media (min-width: 320px) {
  .ProjectPanel {
    width: $project-panel-width * 0.7 * 1px;
    height: $project-panel-width * $project-panel-ratio * 0.7 * 1px;
  }
}

@media (min-width: $project-panel-width + ($project-panel-margins * 2) + $scroll-bar-width * 1px) {
  .ProjectPanel {
    width: $project-panel-width * 1px;
    height: $project-panel-width * $project-panel-ratio * 1px;
  }
}
