@import "variables";

.ProjectPanel {
  width: $project-panel-width * 1px;
  height: $project-panel-width * $project-panel-ratio * 1px;
  background-position-x: center;
  background-size: cover;
  border-radius: 10px;
  margin: 20px;
}

.coverPanel {
  opacity: 0;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  border-radius: 10px;
  padding: 20px;
}

.coverPanel:hover {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}
