@import "variables";

.ProjectPanel {
  width: $project-panel-width * 1px;
  height: $project-panel-width * $project-panel-ratio * 1px;
  background-position-x: center;
  background-size: cover;
  border-radius: 10px;
  margin: 20px;
}

.coverPanel {
  opacity: 0;
  height: calc(100% - 60px);
  width: calc(100% - 40px);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 40px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-size: 100px;
}

.coverPanel:hover {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

@media (min-width: 320px) {
  .ProjectPanel {
    width: $project-panel-width * 0.7 * 1px;
    height: $project-panel-width * $project-panel-ratio * 0.7 * 1px;
  }
}

@media (min-width: $project-panel-width + ($project-panel-margins * 2) + $scroll-bar-width * 1px) {
  .ProjectPanel {
    width: $project-panel-width * 1px;
    height: $project-panel-width * $project-panel-ratio * 1px;
  }
}
