@import "variables";

.SecondPanel {
  width: 100%;
  position: relative;
  height: 100%;
}

svg polygon {
  fill: $primary-color;
}

.content {
  width: 100%;
  margin-top: 25vh;
  position: absolute;
  top: 0;
  left: 0;
  color: $font-color-2;
}

.projectList {
  display: flex;
}

@media (min-width: 320px) {
  .projectList {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .mySVG {
    height: 1300px;
  }
}

@media (min-width: 350px) {
  .mySVG {
    height: 1400px;
  }
}

@media (min-width: (1 * $project-panel-width) + (2 * $project-panel-margins) + $scroll-bar-width * 1px) {
  .projectList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: (3 * $project-panel-width * $project-panel-ratio) +
      (6 * $project-panel-margins) * 1px;
  }

  .mySVG {
    height: 400 + (3 * $project-panel-width * $project-panel-ratio) +
      (6 * $project-panel-margins) * 1px;
  }
}

@media (min-width: (2 * $project-panel-width) + (4 * $project-panel-margins) + $scroll-bar-width * 1px) {
  .projectList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: (2 * $project-panel-width * $project-panel-ratio) +
      (4 * $project-panel-margins) * 1px;
  }

  .mySVG {
    height: 400 + (2 * $project-panel-width * $project-panel-ratio) +
      (4 * $project-panel-margins) * 1px;
  }
}

@media (min-width: (3 * $project-panel-width) + (6 * $project-panel-margins) + $scroll-bar-width * 1px) {
  .projectList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    height: ($project-panel-width * $project-panel-ratio) +
      (2 * $project-panel-margins) * 1px;
  }

  .mySVG {
    height: 400 + ($project-panel-width * $project-panel-ratio) +
      (2 * $project-panel-margins) * 1px;
  }
}
