@import "variables";

.SecondPanel {
  width: 100%;
  color: $font-color-1;
  background-color: $secondary-color;
}

.projectList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
