@import "variables";

.SectionTitle {
  position: relative;
  margin: 0 auto;
  width: fit-content;
  height: 100%;
  z-index: 0;
  margin-top: 100px;
  margin-bottom: 100px;
  .text {
    text-align: center;
    font-size: 50px;
    font-family: $section-title-font;
    z-index: 0;
  }

  .tile1 {
    height: 40%;
    background-color: $primary-color;
    position: absolute;
    bottom: 15%;
    z-index: -1;
  }

  .tile2 {
    height: 40%;
    background-color: $primary-color;
    position: absolute;
    top: 15%;
    z-index: -1;
  }
}

@media (min-width: 320px) {
  .SectionTitle {
    .tile1 {
      width: 150px;
      left: -50px;
    }
    .tile2 {
      width: 150px;
      right: -50px;
    }
  }
}

@media (min-width: 370px) {
  .SectionTitle {
    .tile1 {
      width: 170px;
      left: -70px;
    }
    .tile2 {
      width: 170px;
      right: -70px;
    }
  }
}

@media (min-width: 400px) {
  .SectionTitle {
    .tile1 {
      width: 210px;
      left: -90px;
    }
    .tile2 {
      width: 210px;
      right: -90px;
    }
  }
}

@media (min-width: 1200px) {
  .SectionTitle {
    .tile1 {
      width: 500px;
      left: -380px;
    }
    .tile2 {
      width: 400px;
      right: -280px;
    }
  }
}
