@import 'variables';

.ThirdPanel {
  background-color: $tertiary-color;
  color: $font-color-2;
  width: 100%;
  position: relative;
  padding-top: 100px;
  text-align: justify;
  text-justify: inter-word;
}

.aboutMe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  .rightBox {
    .mainDescription {
      margin-bottom: 20px;
    }
    .subDescription {
      max-width: 800px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 320px) {
  .aboutMe {
    width: calc(100% - 20px);
    padding-right: 10px;
    padding-left: 10px;
    .leftBox {
      width: 100%;
      height: 400px;
    }
    .rightBox {
      width: 100%;
      font-size: 17px;
    }
  }
}

@media (min-width: 1000px) {
  .aboutMe {
    width: calc(100% - 200px);
    padding-right: 100px;
    padding-left: 100px;
    .leftBox {
      width: 400px;
      height: 500px;
      margin-right: 50px;
    }
    .rightBox {
      width: calc(100% - 600px);
      max-width: 800px;
      font-size: 20px;
      .subDescription {
        float: right;
      }
    }
  }
}
