@import "variables";

.ThirdPanel {
  margin-top: 10vh;
  width: 100%;
}

.aboutme {
  width: calc(100% - 200px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 100px;
  padding-right: 100px;
}

.image {
  width: 300px;
}

.image img {
  width: 100%;
  height: auto;
}

.content {
  width: 600px;
  font-size: 20px;
}
