@import "variables";

.ThirdPanel {
  margin-top: 10vh;
  width: 100%;
}

.aboutme {
  width: calc(100% - 20px);
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.image img {
  width: 100%;
  height: auto;
}

.content {
  font-size: 20px;
}

@media (min-width: 500px) {
  .image {
    width: 300px;
  }

  .content {
    width: 100%;
  }
}

@media (min-width: 1100px) {
  .aboutme {
    width: calc(100% - 200px);
    padding-left: 100px;
    padding-right: 100px;
  }

  .image {
    width: 300px;
  }

  .content {
    min-width: 600px;
    width: calc(100% - 400px);
  }
}
