// COLORS
$body-color: #0f243e;
// $body-color: #dde6f4;
$primary-color: #143052;
$primary-color-url: "%23143052";
$secondary-color-url: "%23f45455";
$secondary-color: #0f243e;
$tertiary-color: #cccccc;
$font-color-1: #f45455;
$font-color-2: #f2f2f2;

// VARIABLES
$project-panel-width: 450;
$project-panel-ratio: 0.8;
$project-panel-margins: 20;
$scroll-bar-width: 17;

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

$primary-font: "Comfortaa", cursive;
