// COLORS
$primary-color: #26e9a5;
$primary-color-url: "%23143052";
$secondary-color: #1c1c1c;
$secondary-color-url: "%231c1c1c";
$tertiary-color: #ffffff;
$font-color-1: #ffffff;
$font-color-2: #1c1c1c;

// VARIABLES
// $project-panel-width: 450;
// $project-panel-ratio: 0.8;
// $project-panel-margins: 20;
// $scroll-bar-width: 17;

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

$primary-font: "Comfortaa", cursive;
