// COLORS
$primary-color: #26e9a5;
$primary-color-url: "%2326e9a5";
$secondary-color: #1c1c1c;
$secondary-color-url: "%231c1c1c";
$tertiary-color: #ffffff;
$tertiary-color-url: "%23ffffff";
$font-color-1: #ffffff;
$font-color-2: #1c1c1c;
$font-color-3: #737373;

// VARIABLES
$project-panel-width: 30;
$stack-icon-number: 14;
$stack-icon-width: 60;
$stack-icon-margin: 30;
$scroll-bar-width: 17;

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

$primary-font: "Comfortaa", cursive;
$section-title-font: "Anton", sans-serif;
